In [3]:
import pandas as pd
from pathlib import Path

In [35]:
here = Path("__file__").parent
data_folder = here / "data"

roster = pd.read_csv(
    data_folder/"roster.csv",
    converters = {
                "NetID": str.lower, 
                "Email Address": str.lower
                },
    usecols = ["Section", "Email Address", "NetID"],
    index_col = "NetID"
)

# dataFrames.
hwcsv = pd.read_csv(
    data_folder/"hw_exam_grades.csv",
    converters = {
                "Email Address": str.lower,
                "SID": str.lower,
                "First Name": str.lower,
                "Last Name": str.lower
    },
    usecols= lambda x: "Submission" not in x,
    index_col = "SID"
)

# [i for i in data_folder.glob("quiz_*_grades.csv")]

quiz_grades = pd.DataFrame()

for file_path in data_folder.glob("quiz_*_grades.csv"):
    quiz_name = " ".join(file_path.stem.title().split("_")[:2])
    # print(file_path)
    quiz = pd.read_csv(
        file_path,
        converters = {
            "Email": str.lower
        },
        usecols=["Email", "Grade"],
        index_col="Email"
    ).rename(columns={"Grade": quiz_name})
    quiz_grades = pd.concat([quiz_grades, quiz], axis=1)
    
quiz_grades

                          Quiz 5  Quiz 2  Quiz 4  Quiz 1  Quiz 3
Email
rachel.dennis@univ.edu        11       6       6       7       7
courtney.wolf@univ.edu         9      15       7      10       9
aaron.lester@univ.edu          8       9       8       6      10
ashley.martin@univ.edu        11       7      13       5       8
jessica.garza@univ.edu        10       8      11       8      16
...                          ...     ...     ...     ...     ...
brandy.reilly@univ.edu        10      13      14       5       6
douglas.payne@univ.edu         5       7      12       8       7
tara.johnson@univ.edu         12       6      14       6      10
michelle.lee@univ.edu         10      13      10       9      16
scott.cervantes@univ.edu       9       8      12       4       9

[150 rows x 5 columns]